<ion-header>
  <ion-toolbar>
    <ion-title>Ilmoittaudu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="reg">
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value); navigate()">
    <ion-item>
      <ion-label position="floating">Nimi</ion-label>
      <ion-input type="text" ngModel name="name" required placeHolder="Nimi"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position=" floating">Sähköposti</ion-label>
      <ion-input type="email" ngModel name="email" placeHolder="Sähköposti"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="food" name="food" placeholder="Ruokavalio" ngModel interface="popover">
        <ion-select-option value="kala">Kala</ion-select-option>
        <ion-select-option value="liha">Liha</ion-select-option>
        <ion-select-option value="kasvis">Kasvis</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-label>Menetkö saunaan?</ion-label>
    <ion-checkbox name="sauna" ngModel="sauna">Osallistun</ion-checkbox>
    <ion-button type="submit">Ilmoittaudu</ion-button>
  </form>
</ion-content>