<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ilmoittautuneet
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    @for (reg of registrations; track $index) {
    <ion-item> {{reg.name}}</ion-item>
    <ion-item> {{reg.email}}</ion-item>
    <ion-item> {{reg.food}}</ion-item>
    <ion-item> {{reg.sauna}}</ion-item>
    @if(authService.user.uid=== reg.id) {
    <ion-button></ion-button>
    }
    }
  </ion-list>